/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Typography
	#Generic Styles
	#Intro
	#Nav2
	#plan
	#Services
	#Hire
	#About
	#Contact
	#Media Queries
	#Font-Face
*/


/* #Typography
================================================== */

p, h1, h2, h3, h4 {
	font-family: "kulturista-web",serif;
}

p {
	line-height: 24px;
	font-size: 16px;
	font-weight: 400;
}

h1 {
	font-size: 100px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 50px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	filter: dropshadow(color=rgba(0, 0, 0, 0.5), offx=1, offy=1);
}

h1.smallh1 {
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 10px;
}

h1.smallerh1 {
	font-size: 36px;
	font-weight: 400;
	line-height: normal;
}

h2 {
	font-size: 40px;
	font-weight: 700;
	color: #3d3d3d;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h3 {
	font-size: 24px;
	color: #3d3d3d;
	border-bottom: 1px solid #bebebe;
	margin-bottom: 30px;
}

h4 {
	font-size: 22px;
	text-transform: uppercase;
	color: #333333;
	margin-top: 20px;
}

p.headline, .quote {
	font-size: 12px;
	font-style: italic;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 14px;
	color: #ce442b;
}

p.headline {
	font-weight: bold;
}

p.quote {

}

p.contentl {
	text-align: left;
	padding-bottom: 10px;
}

p.contentc {
	text-align: center;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

p.fanfive, p.studyhard, p.start_building, p.drafting, p.some_things, p.aquisition, p.increase_community, p.after_draft, p.content_king, p.use_fancred, p.check_calendar, p.fancred_manager, p.help_us {
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

p.fanfive {
	background-image: url(../images/fancred_five.png);
}

p.studyhard {
	background-image: url(../images/study_hard.png);
}

p.start_building {
	background-image: url(../images/start_building.png);
}

p.drafting {
	background-image: url(../images/drafting.png);
}

p.some_things {
	background-image: url(../images/some_things.png);
}

p.aquisition {
	background-image: url(../images/aquisition.png);
}

p.increase_community {
	background-image: url(../images/increase_community.png);
}

p.after_draft {
	background-image: url(../images/after_draft.png);
}

p.content_king {
	background-image: url(../images/content_king.png);
}

p.use_fancred {
	background-image: url(../images/use_fancred.png);
}

p.check_calendar {
	background-image: url(../images/check_calendar.png);
}

p.fancred_manager {
	background-image: url(../images/fancred_manager.png);
}

p.help_us {
	background-image: url(../images/help_us.png);
}

.Q {
	color:#aba397;
	font-family: "museo-slab",serif;
	font-size: 13px;
	margin: 0px 0px 0px
}

.question {
	color:#ce442b;
	font-family: "museo-slab",serif;
	font-size: 13px;
	text-transform: uppercase;
	text-shadow:1px 1px #ded9cf;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 0px;
	padding: 5px;
	border-top: 1px solid #ded9cf;
	border-bottom: 1px solid #ded9cf;
	width: 380px;
	margin-left: auto;
	margin-right: auto;
}

.answer {
	font-size: 16px;
	width: 375px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#plan3 span.line3 {
	margin-bottom: 5px;
}



/* #Fancred Styles
================================================== */
body {
  background-color: #efebe2;
}
.cover {
  background: url('../img/desktop/cover.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  color: #efebe2;
  height: 572px;
  padding-top: 40px;
}
.cover .inner {
  margin: 0 auto;
  text-align: center;
  width: 512px;
}
.cover .inner .logo {
  background-image: url('../img/f-logo-red.png');
  display: block;
  height: 31px;
  margin: 0 auto 9px;
  width: 31px;
}
.cover .inner .intro,
.cover .inner .subtitle,
.cover .inner .tagline {
  font: 700 12px/21px 'museo-slab', serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.cover .inner .intro {
  margin-bottom: 8px;
}
.cover .inner .intro:before,
.cover .inner .intro:after {
  background: url('../img/star-20x20.png') no-repeat;
  content: '';
  display: inline-block;
  height: 20px;
  position: relative;
  top: 5px;
  width: 20px;
}
.cover .inner .intro:before {
  margin-right: 18px;
}
.cover .inner .intro:after {
  margin-left: 18px;
}
.cover .inner .divider {
  background-color: #ded9cf;
  display: block;
  height: 1px;
  margin: 0 auto 29px;
  opacity: 0.6;
  width: 150px;
}
.cover .inner h1 {
  background: url('../img/desktop/title.png') no-repeat;
  display: inline-block;
  height: 140px;
  margin-bottom: 26px;
  width: 469px;
}
.cover .inner .subtitle {
  border-bottom: 1px solid rgba(222, 217, 207, 0.6);
  border-top: 1px solid rgba(222, 217, 207, 0.6);
  line-height: 29px;
  margin: 0 auto 10px;
  width: 352px;
}
.cover .inner .tagline {
  color: #ce442b;
  font-style: italic;
  margin-bottom: 23px;
}
.cover .inner .button-container {
  position: relative;
  margin: 0 auto 20px;
  width: 265px;
}
.cover .inner .button-container .arrow {
  background-image: url('../img/desktop/arrows-sprite.png');
  display: inline-block;
  height: 116px;
  position: absolute;
  top: -75px;
}
.cover .inner .button-container .arrow.left {
  left: -124px;
  width: 98px;
}
.cover .inner .button-container .arrow.right {
  background-position: -98px 0;
  right: -125px;
  width: 97px;
}
.cover .inner .button-container .apply-now {
  background-image: url('../img/apply-now-buttons-sprite.png');
  display: inline-block;
  height: 53px;
  width: 265px;
}
.cover .inner .button-container .apply-now:hover {
  background-position: 0 -53px;
}
.cover .inner .button-container .apply-now:active {
  background-position: 0 -106px;
}
.cover .inner .more,
.cover .inner .scroll {
  font: italic 500 13px/18px 'museo-slab', serif;
}
.cover .inner .more {
  margin-bottom: 25px;
  opacity: 0.8;
}
.cover .inner .scroll {
  margin-top: -25px;
  opacity: 0.6;
}
.cover .inner .scroll img {
  margin: 0 15px;
  position: relative;
  top: 25px;
}
.navigation {
  background-color: #e6e1d9;
  border-bottom: 1px solid #ded9cf;
  margin-bottom: 40px;
  text-align: center;
  padding: 30px 0;
}
.navigation li {
  display: inline-block;
  margin-right: 50px;
  width: 100px;
}
.navigation li a {
  color: #aba397;
  font: 700 13px/21px 'museo-slab', serif;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation li a span {
  background: url('../img/section-icons-sprite.png');
  display: block;
  margin: 0 auto;
}
.navigation li a[href='#program'] span {
  height: 36px;
  width: 32px;
}
.navigation li a[href='#incentives'] span {
  background-position: -32px 0;
  height: 39px;
  width: 37px;
}
.navigation li a[href='#apply'] span {
  background-position: -69px 0;
  height: 32px;
  width: 37px;
}
.navigation li a:hover {
  color: #ce442b;
}
.navigation li a:hover[href='#program'] span {
  background-position: 0 -36px;
}
.navigation li a:hover[href='#incentives'] span {
  background-position: -32px -39px;
}
.navigation li a:hover[href='#apply'] span {
  background-position: -69px -32px;
}
.navigation li:last-child {
  margin-right: 0;
}
.sticky-navigation {
  background: rgba(239, 235, 226, 0.95);
  border-bottom: 1px solid #ded9cf;
  display: block;
  left: 0;
  padding: 9px 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 1;
}
.sticky-navigation .container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 960px;
}
.sticky-navigation .container ul {
  display: inline-block;
  margin: 0 auto;
}
.sticky-navigation .container ul li {
  display: inline-block;
  line-height: 31px;
  margin-right: 50px;
  width: 100px;
}
.sticky-navigation .container ul li:last-child {
  margin-right: 0;
}
.sticky-navigation .container ul li a {
  color: #aba397;
  font: 700 13px 'museo-slab', serif;
  padding: 9px;
  text-decoration: none;
  text-transform: uppercase;
}
.sticky-navigation .container ul li a:hover {
  color: #ce442b;
  text-shadow: 1px 1px 0px #aba397;
}
.sticky-navigation .container ul li a[href='#apply'] {
  background-color: #ce442b;
  border-radius: 3px;
  color: #ffffff;
}
.sticky-navigation .container ul li a[href='#apply']:hover {
  color: #ffffff;
  text-shadow: none;
}
.sticky-navigation .container .back-to-top {
  background: url('../img/f-logo-faded.png') no-repeat top right;
  display: block;
  height: 33px;
  position: absolute;
  right: 0;
  top: 0;
  width: 33px;
}
.section {
  margin: 0 auto 60px;
  position: relative;
  width: 960px;
}
.section .icon {
  background: url('../img/section-icons-sprite.png');
  display: block;
  margin: 0 auto 20px;
}
.section h2 {
  color: #ce442b;
  font: bold 30px 'kulturista-web', serif;
  letter-spacing: 5px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #ded9cf;
}
.section .divider {
  background-color: #ded9cf;
  display: block;
  height: 4px;
  margin: 0 auto 20px;
  width: 150px;
}
#program {
  overflow: hidden;
}
#program .icon {
  background-position: 0 -72px;
  height: 36px;
  width: 32px;
}
#program .lead-in {
  color: #5b5b5b;
  font: italic bold 16px/24px 'kulturista-web', serif;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 2px 0px #ded9cf;
}
#program .lead-in-divider {
  background-color: #ded9cf;
  display: block;
  height: 1px;
  margin: 0 auto 50px;
  width: 352px;
}
#program .screenshot {
  float: left;
  position: relative;
  top: -10px;
  width: 486px;
}
#program .screenshot img {
  display: block;
  margin: 0 auto;
}
#program .details {
  color: #5b5b5b;
  font: 500 16px/24px 'museo-slab', serif;
  float: left;
  width: 393px;
}
#program .details h3 {
  background-image: url('../img/details-header-bg.png');
  height: 24px;
  margin-bottom: 10px;
  text-align: center;
}
#program .details h3 span {
  background: #efebe2;
  color: #ce442b;
  font: italic bold 16px/24px 'kulturista-web', serif;
  padding: 0 10px;
  text-transform: uppercase;
}
#program .details p,
#program .details ul {
  margin-bottom: 30px;
}
#program .details ul:last-child {
  margin-bottom: 0;
}
#program .details li {
  background: url('../img/star-12x12.png') no-repeat 0 5px;
  padding-left: 20px;
}
#incentives,
#apply {
  text-align: center;
}
#incentives .icon {
  background-position: -32px -78px;
  height: 39px;
  width: 37px;
}
#incentives li {
  color: #5b5b5b;
  font-family: 'kulturista-web', serif;
  font-style: italic;
  line-height: 24px;
  margin-bottom: 25px;
  text-shadow: 2px 2px 0 #ded9cf;
}
#incentives li span {
  background: #ffffff;
  border: 1px solid #5b5b5b;
  border-radius: 19px;
  box-shadow: 2px 2px 0 #ded9cf;
  color: #5b5b5b;
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 34px;
  margin: 0 auto 15px;
  padding-top: 2px;
  text-shadow: none;
  width: 36px;
}
#incentives li strong {
  font-weight: bold;
  text-transform: uppercase;
}
#incentives li:last-child {
  margin-bottom: 0;
}
#apply {
  color: #5b5b5b;
  font: 500 16px/24px 'museo-slab', serif;
}
#apply .icon {
  background-position: -69px -64px;
  height: 32px;
  width: 37px;
}
#apply .submit {
  margin: 0 auto 40px;
  width: 450px;
}
#apply .button-container {
  position: relative;
  margin: 0 auto;
  width: 265px;
}
#apply .button-container .arrow {
  background-image: url('../img/desktop/arrows-sprite.png');
  display: inline-block;
  height: 116px;
  position: absolute;
  top: -75px;
}
#apply .button-container .arrow.left {
  left: -124px;
  width: 98px;
}
#apply .button-container .arrow.right {
  background-position: -98px 0;
  right: -125px;
  width: 97px;
}
#apply .button-container .apply-now {
  background-image: url('../img/apply-now-buttons-sprite.png');
  background-position: 265px 0;
  display: inline-block;
  height: 53px;
  margin-bottom: 20px;
  width: 265px;
}
#apply .button-container .apply-now:hover {
  background-position: 265px -53px;
}
#apply .button-container .apply-now:active {
  background-position: 265px -106px;
}
#apply .questions {
  font-size: 13px;
}
#apply .questions a {
  color: #ce442b;
  text-decoration: none;
}
#apply .questions a:hover {
  text-decoration: underline;
}
.footer {
  border-top: 1px solid #ded9cf;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  width: 352px;
}
.back-to-top-container {
  bottom: 178px;
  display: none;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  width: 960px;
}
.back-to-top-container .back-to-top {
  background: url('../img/desktop/back-to-top.png');
  display: inline-block;
  height: 33px;
  width: 33px;
}


/* #Generic Styles
================================================== */

body {
	background: url(../images/bg.png) repeat;
}

.container {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.dotted-bar {
	background: url(../images/dotted-bg.png) repeat;
	width: 100%;
	height: 108px;
	position: relative;
	z-index: 600;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 30px;
}

.dotted-bar ul li {
	display: inline;
	padding: 40px;
	top: 20px;
}

h2 img {
	margin-bottom: 4px;
	display: inline-block;
}

span.line {
	background: #6f6f6f;
	width: 358px;
	height: 1px;
	display: inline-block;
	margin-bottom: 14px;
	margin-right: 15px;
}

span.line2 {
	background: #ded9cf;
	width: 150px;
	height: 4px;
	display: inline-block;
	margin-bottom: 14px;
	margin-left: auto;
	margin-right: auto;
}

span.line3 {
	background: #ded9cf;
	width: 330px;
	height: 1px;
	display: inline-block;
	margin-bottom: 14px;
}

span.line4 {
	background: #6f6f6f;
	width: 330px;
	height: 1px;
	display: inline-block;
	margin-bottom: 14px;
	margin-left: 15px;
}

.dotted-bar2 {
	background: url(../images/dotted-bg.png) repeat;
	width: 100%;
	height: 44px;
	position: relative;
	z-index: 300;
	text-align: center;
}

.dotted-bar2 a, .dotted-bar3 a {
	display: inline-block;
}

.top {
	background: url(../images/top.png) no-repeat;
	width: 223px;
	height: 34px;
	top: 6px;
	position: relative;
	margin: auto;
	display: inline-block;
}

.top:hover {
	background-position: 0 -34px;
}



/* #Intro
================================================== */

.top-bar {
	background: #ce442b;
	width: 100%;
	height: 2px;
	position: fixed;
	z-index: 200;
}

#intro {
	width: 100%;
	height: 550px;
	text-align: center;
}

#intro .bg1 {
	background: url(../images/intro-bg.jpg) 0 0 no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background: url(../images/intro-bg2.jpg) repeat fixed;*/ /*Background 2*/
	/*background: url(../images/intro-bg3.jpg) repeat fixed;*/ /*Background 3*/
/*	margin: 0 auto;
	padding: 0;*/
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 550px;
}

nav {
	text-align: center;
	position: fixed;
	width: 100%;
	margin-top: 60px;
	z-index: 150;
}

nav a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	padding: 5px 25px 5px 25px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	filter: dropshadow(color=rgba(0, 0, 0, 0.5), offx=1, offy=1);
	
	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

nav a:visited {
	color: #fff;
}

nav a:hover {
	color: #ce442b;
}

nav ul li {
	display: inline;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	margin-left: -2px;
	margin-right: -2px;
	padding: 13px 0 10px 0;
	position: relative;
}

ul li:nth-child(6) {
	border: 0;
}

span.logo {
	background: url(../images/logo.png) no-repeat;
	width: 120px;
	height: 120px;
	display: inline-block;
	top: -45px;
	position: relative;
	margin: 0 20px 0 20px;
}

span.logotext {
	font-family: 'Marck Script', cursive;
	font-size: 50px;
	color: #fff;
	top: 52px;
	position: relative;
}


.title {
	margin-top: 0px;
	padding-top: 50px;
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 150;
	left: -25px;
}

.sprite {
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: background-position;
	-moz-transition-property: background-position;
	-o-transition-property: background-position;
	transition-property: background-position;
}

.sprite:hover {
	background-position: 0 -51px;
}



/* #Nav2
================================================== */

.nav2 {
	background: #e6e2d9;
	width: 100%;
	height: 54px;
	margin-top: -54px;
	text-align: center;
	position: relative;
	z-index: 500;
	-webkit-box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.nav2 a {
	color: #aba397;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0px 18px 0 18px;
	padding-top: 0px;
	display: inline-block;
	
	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}

.nav2 img {
	padding: 10px 0px 0px;
	left: 86%;
	}

.nav2 a:visited {
	color: #aba397;
}

.nav2 a:hover {
	color: #ce442b;
}

.nav2 ul li {
	display: inline;
	
}



/* #Plan
================================================== */

#plan {
	background: url(../images/bg.png) repeat;
	position: relative;
	z-index: 300;
	padding: 80px 0 70px 0;
}

#plan1, #plan2, #plan3, #plan4 {
	background: url(../images/bg.png) repeat;
	position: relative;
	z-index: 300;
	padding: 60px 0 10px 0;
}

.first {
	padding-top: 120px;
}

.nav_plan {
	position: fixed;
	display: block;
	top: 75px;
	left: 86%;
	/*visibility: hidden;*/
}

.nav_plan a {
	text-decoration: none;
	color: #fff;
}

.nav_plan li {
	background-image: url(../images/side_nav_sprite.png);
	background-position:0px 25px;
	height: 25px;
	width: 25px;
	font-weight: bold;
	color: #000000;
}

.nav_plan li:hover {
	background-position:0px 0px;
}

.imac {
	background: url(../images/imac.png);
	width: 459px;
	height: 349px;
	position: relative;
}

.portfolio h3 {
	margin-top: 40px;
}


.portfolio img {
	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-box-shadow;
	-moz-transition-property: -moz-box-shadow;
	-o-transition-property: -o-box-shadow;
	transition-property: box-shadow;
}

.portfolio img:hover {
	-webkit-box-shadow:  0px 0px 0px 4px #fcd996;
	box-shadow:  0px 0px 0px 4px #fcd996;
}

p.proj-name {
	border-bottom: 1px solid #bebebe;
	padding-bottom: 2px;
	margin-bottom: 0;
	color: #363636;
}

p.proj-desc {
	line-height: normal;
	font-size: 13px;
	margin-top: 6px;
	margin-bottom: 35px;
	color: #696969;
}



/* #Recruit
================================================== */

#recruit {
	background: url(../images/bg.png) repeat;
	position: relative;
	z-index: 300;
	padding: 80px 0 70px 0;
}

#recruit1, #recruit2, #recruit3, #recruit4 {
	background: url(../images/bg.png) repeat;
	position: relative;
	z-index: 300;
	padding: 60px 0 10px 0;
}

img.serv-icon {
	-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

img.serv-icon:hover {
	opacity: 0.7;
} 

p.serv {
	font-size: 14px;
	margin-top: 20px;
	color: #6d6d6d;
}

/* #Schedule
================================================== */

#schedule {
	background: url(../images/bg.png) repeat;
	position: relative;
	z-index: 300;
	padding: 90px 0 70px 0;
	text-align: center;
}

#schedule1, #schedule2, #schedule3, #schedule4 {
	background: url(../images/bg.png) repeat;
	position: relative;
	z-index: 300;
	padding: 60px 0 10px 0;
}

img.serv-icon {
	-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

img.serv-icon:hover {
	opacity: 0.7;
} 

p.serv {
	font-size: 14px;
	margin-top: 20px;
	color: #6d6d6d;
}



/* #Testimonials
================================================== */

.bg {
	background: url(../images/bg.png);
	position: relative;
	z-index: 300;
}

.testimonial {
	background: url(../images/bg.png) repeat;
	position: relative;
	padding-bottom: 30px;
	z-index: 300;
}

.testimonial p {
	font-size: 20px;
	text-align: center;
	font-style: italic;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	padding: 15px 0 15px 0;
}


/* #Hire
================================================== */

.hire {
	background: url(../images/bg.png) repeat;
	text-align: center;
	position: relative;
	z-index: 300;
	padding-bottom: 50px;
	margin: auto;
}


/* #Engage
================================================== */

#engage {
	background: url(../images/bg.png) repeat;
	position: relative;
	z-index: 300;
	padding: 90px 0 100px 0;
}

#engage1, #engage2, #engage3, #engage4 {
	background: url(../images/bg.png) repeat;
	position: relative;
	z-index: 300;
	padding: 60px 0 10px 0;
}

.last_tweets {
	background: url(../images/dotted-bg2.png) repeat;
	padding: 20px;
}

#twitter_update_list {
	font-size: 13px;
	color: #585757;
}

#twitter_update_list a {
	color: #7b7b7b;
	text-decoration: none;
}

#twitter_update_list a:visited {
	color: #7b7b7b;
}

#twitter_update_list a:hover {
	text-decoration: underline;
}

#twitter_update_list li {
	list-style-type: none;
	margin-bottom: 15px;
}


.experience p {
	margin-bottom: 2px;
}

p.line2nd {
	font-size: 13px;
	line-height: normal;
	color: #7f7f7f;
	margin-bottom: 8px;
}

.skill-bg {
	background: #e7e7e7;
	width: 100%;
	height: 25px;
	
	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

.skill-bg:hover {
	opacity: 0.8;
}

.skills p {
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #646464;
	margin-bottom: 5px;
}

.skill1 {
	background: #4f4f4f;
	width: 70%;
	height: 25px;
}

.skill2 {
	background: #4f4f4f;
	width: 77%;
	height: 25px;
}

.skill3 {
	background: #4f4f4f;
	width: 83%;
	height: 25px;
}

.skill4 {
	background: #4f4f4f;
	width: 90%;
	height: 25px;
}

.skill5 {
	background: #4f4f4f;
	width: 95%;
	height: 25px;
}


/* #Contact
================================================== */

#contact {
	background: url(../images/bg.png) repeat;
	position: relative;
	z-index: 300;
	padding: 90px 0 70px 0;
	text-align: center;
}

#contact1, #contact2, #contact3, #contact4 {
	background: url(../images/bg.png) repeat;
	position: relative;
	z-index: 300;
	padding: 60px 0 10px 0;
}

#brent {
	margin-top: -16px;
}

/* #footer
================================================== */

#footer {
	background: url(../images/bg.png) repeat;
	position: relative;
	z-index: 300;
	padding: 90px 0 70px 0;
	text-align: center;
}


/* #Media Queries
================================================== */



	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1024px) {
	
		.top-bar, nav, .title {
			position: relative;
		}
		
		nav {
			margin: 0;
			padding-top: 60px;
		}
		
		.title {
			margin-top: 0px;
		}
	
	
		span.line, span.line4 {
			display: none;
		}
		
		.featured-item {
			display: none;
		}
		
		.rslides {
			position: relative;
			list-style: none;
			overflow: hidden;
			width: 100%;
			padding: 0;

			top: 300px;
		}
		
		.rslides li {
			position: absolute;
			display: none;
			width: 100%;
			left: 0;
			top: 0;
		}

		img {
			max-width: 100%;
			height: auto;
		}
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		h1.smallerh1 {
			font-size: 26px;
			font-weight: 400;
			line-height: normal;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		h1 {
			font-size: 80px;
		}
		
		h1.smallh1 {
			font-size: 40px;
			font-weight: 600;
			margin-bottom: 8px;
		}

		h1.smallerh1 {
			font-size: 30px;
			font-weight: 400;
			line-height: normal;
		}
		
		
		.nav2 a {
			padding: 0px 8px 0 8px;
		}

		.nav2 img {
			padding: 10px 0px 0px 80px;
		}
		
		
		.portfolio {
			text-align: center;
		}
		
		
		.experience h3 {
			margin-top: 40px;
		}
		
		.skills h3 {
			margin-top: 40px;
		}
		
		
		#contact .bg2 {
			height: 1130px;
		}

		.dotted-bar ul li {
			padding: 30px;
		}

		.first {
			padding-top: 20px;
		}
		
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
		.title {
			margin-top: 0px;
		}
	
		span.logo {
			display: none;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		nav {
			padding-top: 25px;
		}
		
		nav a {
			padding: 5px 8px 5px 8px;
		}
		
		span.logo {
			display: none;
		}
		
		#intro {
			height: 450px;
		}
		
		.title {
			margin-top: 0px;
		}
		
		h1 {
			font-size: 40px;
			margin-bottom: 8px;
		}
		
		h1.smallh1 {
			font-size: 30px;
			font-weight: 600;
			margin-bottom: 8px;
		}

		h1.smallerh1 {
			font-size: 20px;
			font-weight: 400;
			line-height: normal;
			margin-bottom: 20px;
		}

		
		.social ul li {
			display: inline;
			margin: 0 3px 0 3px;
		}
		
		.nav2 a {
			padding: 0px 10px 0 10px;
		}

		.nav2 img {
			padding: 10px 0px 0px 80px;
		}

		.first {
			padding-top: 20px;
		}

		img {
			max-width: 80%;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/